[~/srcPLgrado/temperature(master)]$ cat global.css
     /* Don't center table cells  */

#converted1, #converted2  {
	/*font-weight: bold;
	font-size:large;*/

	font-weight: bold;
	font-size: medium;
	height:10%;
}     /* Calculated values in bold */

span {
	color: #F94F52;
	font-size:200%;
}

span[temp="cold"] {
	color: #729DC8;
}

span[temp="warm"] {
	color: #5CBA0F;
}

span[temp="hot"] {
	color: #bA1124;
}


input {
	text-align: center;       /* Align input to the right  */
	border: none;
	border-radius: 5px 5px 5px 5px;
	padding: 5px  5px;
	color: #373737;
	font-size:150%;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

body {
	text-align: center;
 	background-color: #191918;  /* blue */
 	font-size:large;
 	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

table {
 	width:75%;
 	margin: auto;
}

th, td      {
	vertical-align: top;
	text-align: center;
	font-size:large;
	color: #F1F1F1;
	padding: 25px  25px;
}

h1 {
	font-weight: large;
	font-size: 3em;
	font-family: "Georgia", bold;
	margin: 5%;
	color: #CECECE;
	display:inline-block;
	border-radius: 5px 5px 5px 5px;
}
